tmdb_5000_movies.csv
tmdb_5000_credits.csv
quikr_car.csv
pre_processed.csv
pp_movie_before_cv.csv
play_tennis.csv
packages.csv
pandas.ipynb
numpy.ipynb
NaiveBayes.ipynb
movie_list_pkl
movie_before_combining_lists.csv
matplotlib.ipynb
LR.ipynb
LogisticReg.ipynb
LinearRegression.ipynb
KNN.ipynb
iRIS.ipynb
IMDBDataset.csv
E-commerce.ipynb
EC.csv
DL.ipynb
data.csv
Cap_pp.ipynb
Candlestick.ipynb
bayes2.ipynb
Bayes.ipynb
attribute.csv
.ipynb_checkpoints/
venv/
pokemon/
personality/
npl/
movie/
IPIP-FFM-data-8Nov2018/
hp/
grokking_dl/
FoodRecipes/
dl_pytorch/
code-mixed-indic
celebs/
catvsdog/
book_rec/
.idea/
torchTut.ipynb
Untitled1.ipynb
text.txt
SLIR.ipynb
shakespear.txt
PT.ipynb
similarity.pkl